* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.navbar {
  width: 100%;
  background: black;
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.logo {
  max-height: 80px;
}
.link-style {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
